@mixin borders($color,$rad){
    border:$color solid 3px;
    border-top-left-radius: $rad;
    border-top-right-radius: $rad;
}
@mixin media-height($min-height,$mid-height,$max-height){
    @media screen and (min-width: 200px) {
        height:$min-height;
    }
    @media screen and (min-width: 700px) {
        height:$mid-height;
    }
    @media screen and (min-width: 1000px) {
        height:$max-height;
        
    }
}