$bglogocolor:#058aff;
$hrefcolor:#ffc400;
//$hrefcolor:#029b1e;
$bgcolor:#FFFFFF;
$textcolor:#000000;
$bordercolor:#0049a2;
$h2-size:25px;
$font-size:20px;
$nav-color:#00569c;
$href-text-color:#00b8c5;
$shop-text-color:#FFFFFF;
$titlebg:#0099ff;
$footerbg:#01a3c8;